@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

html {
    font-size:13px;

    @include mobile {
        font-size:11px;
    }
}

body {
    font-family: 'Roboto','san-serif';
}

ul {
    list-style-type: none;   
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: $main-color;
}

img {
    max-width: 100%;
}

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}


@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include table{
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile{
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    margin:auto;
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));

    @include table {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    min-height: 75vh;

    @include table {
        padding-top: calc(#{$header-table-height} + 20px);
        
    }

    @include mobile {
        margin-top: calc(#{$header-table-height} + 10px);
        padding-top:30px;
    }
}

.grid {
    display:grid;
    text-align: center;
}